<table>
  <thead>
    <tr>
      <th>N</th>
       <th>Title</th>
       <th>Description</th>
       <th>Operacions</th>
    </tr>   
  </thead>
    {{#each tasks}}
  <tbody>
    <tr>
      <td>{{@index}}</td>
      <td>{{title}}</td>
      <td>{{description}}</td>
       <td>
         <button>Realizado</button>
         <button>Borra</button>
          <a href="/edit">actualizar</a>
       </td>
    </tr>
    {{/each}}
  </tbody>
</table>
 <!-- Para recorrre con handelerbar se utiliza
   Con for -> each
   -->