<form action="/tasks/add" method="post">

<div>
    <label for="title">Escribe el titulo</label>
<input type= "text" name="title" id="title" placeholder="Title">
</div>

  <div>
    <label for="description">Escribe tu descripcion</label>
<textarea id="description" name = "description" placeholder="descripcion"> </textarea>
  </div>
 
  <button>add</button>  
</form>
