<form action="/tasks/add" method="post">

<div>
    <label for="title">Escribe el titulo de la tarea</label>
<input type= "text" name="title" id="title"  placeholder="Title">
</div>

  <div>
    <label for="description">Escribe tu tarea</label>
<textarea id="description" name = "description" placeholder="descripcion"> </textarea>
  </div>
 
  <button>Añadido tu tarea </button>  
</form>
