<form action ="/edit/{{task._id}}" method=post>
  <input type="text" name= "title" placeholder="Titulo" values= "{{ task.title}}">
  <textarea 
    name= "description"
    rows="3"
    placeholder="Añadir una descripcion"
   
  >{{task.description}} </textarea>
  <button>Actualizar</button>  
</form>

